[submodule "dots/.vim/bundle/Vundle.vim"]
	path = dots/.vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "dots/.zsh/antigen"]
	path = dots/.zsh/antigen
	url = https://github.com/zsh-users/antigen.git
