snippet _skel "skeleton" b
`!v snippet#Title(expand("%:t:r"))`
`!v repeat('=',strlen(getline(line(".")-3)))`

${0}
endsnippet

snippet =
`!v repeat('=',strlen(getline(line(".")-3)))`

${0}
endsnippet

snippet -
`!v repeat('-',strlen(getline(line(".")-3)))`

${0}
endsnippet

snippet ### "" b
### ${1:${VISUAL}} ###

$0
endsnippet

snippet #### "" b
#### ${1:${VISUAL} ####

$0
endsnippet
